.all{   
    margin: 0 auto;
    padding: 10px;
}

.title {    
}

.center-fixed{  
    /*background-color: sandybrown ;*/
    margin: 0 auto;
}

h3{
    color: gray;
}
label {
    color: gray;
    
    padding-left: 0px;
}
legend{
    color: gray;
}
form{   
    /*background-color: lightcyan;*/    
    height: auto;
    margin: 0 auto auto auto; /*top, right, bottom, and left*/
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form label, form fieldset{
    /*background-color: pink;*/ 
    font: bold 14px calibri, Arial, Courier;
}

form fieldset label{/*Radio Name*/              
    /*background-color: lightgreen;*/
    font: 16px arial, sans-serif;
}

form input[type=submit]{
    width: 30%;
    margin-left: 25%;
    margin-top: 20px;           
    padding: 12px 32px; /*top bottom - left right*/
    transition: 0.1s;
    border: 0 none; 
    border-radius: 5px;        
    background-color: #428bca;                
    color: white;           
    cursor: pointer;
    font: 16px arial, sans-serif;
}

form input[type=submit]:hover{
    background-color: lightgray;
    color: black;           
}

form input[type=submit]:active{
    font-weight: bold;        
}
form input[type=text]{
    width: 100%;                      
}
form select{
    width: 100%;
}

table{
}

/*Linha do titulo*/
table thead tr{ 
    background-color: gray;
    color:white;
}
/*Celulas do Titulo*/
table thead tr th {     
    padding: 3px 8px;
    border-right: 1px solid black;
}
/*Ao passar o mouse sobre a Linha*/
table tbody tr:hover {
    background-color: lightgray;        
}
/*celulas do conteudo*/
table tbody td{ 
    border: 1px dotted gray;
    padding: 3px 6px;
}
/*Botoes da tabela Excluir/Alterar*/
table button{
    border-radius: 5px;
    background-color: #428bca;
    color: white;
    padding: 3px 15px;/*definindo tamanhos*/
}
    
.box-item {
	border:dotted 1px black;
    float: left;
}
      
.box{
    width: 100%;
    padding-right:10px;
    float: left;
}
/*classes utilizada no javascript*/
.estadoAlteracao{
    background-color: orange;
}

.registrotelefone {
	width:200px;
	float:left;
}

#novoTelefone {
	width:100%;
	border:solid 0px green;
	padding:16;
}